.img_gallery{
    display: grid;
    grid-template-columns: 1fr 300px 300px;
    gap: 10px;
    place-items: center;
}
.north-pole img{
    height: 200px !important;
    width: 500px !important;
}
@media (max-width:768px) {
    .gallery_three, .gallery_two{
         display: none;
    }
    .img_gallery {
        display: flex;
        width: 100%;
    }
    .img_gallery img{
        border-radius: 0px;
    }
    .galler-section{
        width: 95%;
    }
    .galler-section p{
        width: 100%;
    }
    .para_gallery{
        width: 100%;
    }
}